//----------------------------------------------Nav-----------------------------------------------
.nav-div {
  width: 100%;
  margin-bottom: 35px;
  background-color: @colorNavBar;
}
.to-home {
  display: block;
  margin: 10px auto 10px auto;
  text-align: center;
  width: 100px;
  color: @colorNavLogo;
  font-size: 30px;
  cursor: pointer;
  span {
    font-size: 14px;
  }
}
.nav-btn {
  // ---Box Model
  height: 50px;
  width: 98%;
  margin: 10px auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  // ---Content
  text-align: center;
  color: @colorNavNavButtonsText;
  font-weight: bolder;
  font-size: 17px;
  // ---Icons
  svg{
    color: @colorNavNavButtonsTextHover;
    margin: 0px 3px 0px 3px;
  }
}
.nav-col {
  .slider {
    position: absolute;
    bottom: 10px;
    left: 18%;
    height: 4px;
    background-color: @colorNavNavButtonsTextHover;
    width: 0%;
    transition: width 1s;
  }
  &:hover .slider {
    width: 64%;
  }
}
.nav-border {
  color: @colorNavNavButtonsTextFocus;
}
/*----------------------------------------HOME-------------------------------------*/
.home-container {
  text-align: center;
}
.home-container img {
  border-radius: 50%;
}
.home-container h1 {
  color: @colorPrimary;
}
/*----------------------------------------ANTD-EX-------------------------------------*/
.antdEx-container {
  width: 94%;
  margin: 0px auto 0px auto;
  padding: 25px;
  background-color: @colorTransparentGreyLigth;
  button {
    margin: 30px;
  }
}
/*----------------------------------------REDUX-EX-------------------------------------*/
.reduxEx-container {
  width: 94%;
  margin: 0px auto 0px auto;
  padding: 25px;
  background-color: @colorTransparentGreyLigth;
  p {
    color: @colorPrimaryText;
    strong {
      color: @colorSecondaryText;
    }
  }
  pre {
    color: @colorSecondaryText;
  }
}
