//----------------------------------------------Nav-----------------------------------------------
.nav-div {
  width: 100%;
  margin-bottom: 35px;
  background-color: @colorNavBar;
}
.to-home {
  display: block;
  margin: 10px auto 10px auto;
  text-align: center;
  width: 100px;
  color: @colorNavLogo;
  font-size: 30px;
  cursor: pointer;
  span {
    font-size: 14px;
  }
}
.nav-btn {
  // ---Box Model
  height: 50px;
  width: 98%;
  margin: 10px auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  // ---Content
  text-align: center;
  color: @colorNavNavButtonsText;
  font-weight: bolder;
  font-size: 17px;
  a{
    color: @colorNavNavButtonsText;
  }
  // ---Icons
  svg{
    color: @colorNavNavButtonsTextHover;
    margin: 0px 3px 0px 3px;
  }
}
.nav-col {
  .slider {
    position: absolute;
    bottom: 10px;
    left: 18%;
    height: 4px;
    background-color: @colorNavNavButtonsTextHover;
    width: 0%;
    transition: width 1s;
  }
  &:hover .slider {
    width: 64%;
  }
}
.nav-border {
  color: @colorNavNavButtonsTextHover;
  a{
    color: @colorNavNavButtonsTextHover;
  }
}
//----------------------------------------FOOTER-------------------------------------
footer{
  width: 100%;
  min-height: 70px;
  background-color: @colorNavBar;
  padding: 15px;
  margin-top: 50px;
  h1{
    color: @colorThreeTextLigther;
    font-size: 28px;
    text-align: center;
    line-height: 100%;
  }
  h2{
    font-size: 14px;
    text-align: center;
    line-height: 100%;
    margin: 10px 0px -10px 0px;
    a{
      color: @colorThreeTextLigther;
    }
  }
  .contact-sticker{
    section{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p{
      color: @colorWhite;
      font-size: 16px;
      text-align: center;
      margin-top: 5px;
    }
    svg{
      font-size: 33px;
      margin: 0px auto 0px auto;
      display: block;
    }
  }
}
/*----------------------------------------HOME-------------------------------------*/
.home-container {
  width: 92%;
  margin: 20px auto 30px auto;
  .section-1{
    width: 92%;
    margin: 0px auto 0px auto;
    svg{
      color: @colorSecondaryText;
    }
    h1{
      width: 94%;
      color: @colorBlack;
      font-size: 52px;
      font-weight: bold;
      line-height: 115%;
    }
    p{
      font-size: 24px;
      font-weight: normal;
      font-style: normal;
      line-height: 28px;
      span{
        font-weight: bold;
      }
    }
  }
  .image-front{
    background-color: transparent;
    margin-top: 30px;
    img{
      z-index: 2;
    }
  }
  .image-back-top img{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
  }
  .image-back-bottom img{
    position: absolute;
    bottom: -20px;
    right: 30px;
    z-index: 1;
  }
  .section-2-1{
    margin-top: 25px;
    background: linear-gradient(180deg, #204A57 16.63%, rgba(1, 173, 227, 0.892749) 97.92%, rgba(0, 175, 231, 0.89) 100%);
    padding: 22px;
    height: 343px;
    h2{
      color: @colorFive;
      margin-top: 20px;
      font-size: 28px;
      text-align: center;
    }
    h1{
      color: @colorWhite;
      font-size: 36px;
      text-align: center;
    }
    .contact-sticker{
      section{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      p{
        color: @colorWhite;
        font-size: 16px;
        text-align: center;
      }
      svg{
        font-size: 38px;
        margin: 0px auto 0px auto;
        display: block;
      }
    }
  }
  .section-2-2{
    background-color: #272626;
    margin-top: 25px;
    padding-bottom: 30px;
    height: 343px;
    .image-back img{
      position: absolute;
      right: 10px;
      top: 50px;
      z-index: 0;
    }
    h1{
      font-size: 52px;
      font-weight: bold;
      line-height: 115%;
      width: 75%;
      margin: 0px 0px 0px 20px;
      padding-top: 30px;
      position: relative;
      z-index: 1;
    }
    p{
      color: #E4DEDE;
      display: block;
      width: 75%;
      margin: 40px 0px 0px 20px;
      font-size: 14px;
      line-height: 16px;
      position: relative;
      z-index: 1;
    }
  }
  .section-3-1{
    width: 92%;
    max-width: 370px;
    margin: 32px auto 0px auto;
    padding: 10px;
    h2{
      line-height: 120%;
      color: @colorPrimaryText;
      font-weight: bold;
      font-size: 40px;
      display: inline;
    }
    h3{
      line-height: 120%;
      color: @colorPrimaryTextLigth;
      font-weight: bold;
      font-size: 24px;
      display: inline;
    }
    h1{
      line-height: 120%;
      color: @colorPrimaryTextDark;
      font-weight: bold;
      font-size: 52px;
      display: inline;
    }
      .ant-btn{
        background-color: #158f20;
        font-weight: bold;
        border-radius: 15px;
        border-color: #bcf5c1;
      }
      .ant-btn-primary:hover, .ant-btn-primary:focus {
        border-color: #158f20;
    }
  }
  .section-3-2{
    width: 98%;
    margin: 32px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      border-radius: 8px;
    }
  }
  .section-5{
    margin: 20px 0px 100px 0px;
    text-align: center;
    h1{
      padding: 0px 30px 0px 30px;
      font-weight: bold;
      font-size: 24px;
      //line-height: 28px;
      color: @colorPrimaryText;
    }
    p{
      padding: 0px 30px 0px 30px;
      margin-top: -15px;
      color: @colorSecondaryText;
      font-size: 14px;
    }
    hr{
      width: 85%;
    }
  }
  .section-6{
    h1{
      color: @colorPrimaryText;
      font-weight: bold;
      font-size: 48px;
      line-height: 56px;
      text-align: center;
    }
  }
}
/*----------------------------------------ANTD-EX-------------------------------------*/
.antdEx-container {
  width: 94%;
  margin: 0px auto 0px auto;
  padding: 25px;
  background-color: @colorTransparentGreyLigth;
  button {
    margin: 30px;
  }
}
/*----------------------------------------REDUX-EX-------------------------------------*/
.reduxEx-container {
  width: 94%;
  margin: 0px auto 0px auto;
  padding: 25px;
  background-color: @colorTransparentGreyLigth;
  p {
    color: @colorPrimaryText;
    strong {
      color: @colorSecondaryText;
    }
  }
  pre {
    color: @colorSecondaryText;
  }
}
